.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin: auto;
}
.form__title {
  padding: 40px 0px;
  font-size: 1.65rem;
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 540;
}
.form__content_label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #747487;
  display: flex;
  justify-content: space-between;
}
.form__content_input input {
  height: 40px;
  color: #232333;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  border: 1px solid #ccc;
  width: 100%;
}

.form__content {
  width: 100%;
}
.form__content_input {
  width: 100%;
  margin-bottom: 20px;
}

.form__policy {
  color: #747487;
  font-size: 14px;
  margin: 0 auto;
}

.form__submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form__submit-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0e71eb;
  border-color: #0e71eb;
  color: #fff;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 20px 0px;
  cursor: pointer;
}

.form__footer {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  width: 100%;
}
