.page-not-found__content {
    display: flex;
    background-color: #ededed;
    height: 80%;
    width: 70%;
    box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.35);
    position: relative;
    background-image: url("../../404.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .page-not-found {
    display: flex;
    height: 100vh;
    background: #dadbd3;
    justify-content: center;
    align-items: center;
  }
  
  .home-btn-container {
    position: absolute;
    top: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .home-btn {
    padding: 10px 35px;
    color: #fff;
    font-weight: bold;
    background: #16c79a;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
  }
  .home-btn:hover {
    background: #169e7c;
  }
  